In [15]:
# Tools for Data Science Final Project

## Introduction
This notebook showcases basic concepts in data science, including languages, libraries, tools, and simple arithmetic operations using code cells.

1. Python
2. R
3. SQL

## Data Science Libraries
Common libraries used in data science are:
- Pandas
- NumPy
- Matplotlib
- Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

## Examples of Arithmetic Expressions
Below are examples of simple arithmetic expressions executed in Python.

In [16]:
# Multiply and add numbers
result = (5 * 4) + 3
result

23

In [17]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

**Objectives:**

- List data science languages
- List data science libraries
- Create a table of tools
- Perform arithmetic operations in code
- Convert minutes to hours using Python

## Author
"Harish"